@import '/src/index.css';

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    .galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
}


.img-galeria{
    width: 90%;
    height: auto;
    animation: backInLeft;
    animation-duration: 2s;
} 


@media (max-width: 480px) {
    .img-galeria {
        margin-top: 10px;
    }
}

.img-open {
    max-width: 90%;
    height: 70%;
    display: block;
}

@media (max-width: 768px) {
    .img-open {
        margin-top: 20px;
        max-width: 85%;
        width: 85%;
    }
}

.overlay {
    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

picture {
    display: block;
    max-width: 80rem;
}



.btn-cerrar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: grid;
    place-items: center;
    font-weight: 900;
}

.btn-cerrar:hover {
    cursor: pointer;
}